<server description="Social Login Guide Server">
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>appSecurity-3.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>mpConfig-2.0</feature>
        <feature>jaxrsClient-2.1</feature>
        <feature>cdi-2.0</feature>
        <feature>jsonb-1.0</feature>
        <feature>jwt-1.0</feature>
        <feature>socialLogin-1.0</feature>
        
    </featureManager>
    <httpEndpoint host="localhost"
                  id="defaultHttpEndpoint"
                  httpPort="9085"
                  httpsPort="9443" />

    <keyStore id="defaultKeyStore"
              password="changeit" />

              <basicRegistry realm="defaultWIMFileBasedRealm" >
   <user name="uid=admin,o=defaultWIMFileBasedRealm" password="admin" />
   <user name="uid=johndoe,o=defaultWIMFileBasedRealm" password="password" />
   
 </basicRegistry>

    <ssl id="defaultSSLConfig"
         keyStoreRef="defaultKeyStore"
         trustDefaultCerts="true" />
         
         <googleLogin clientId="51547256571-4hgvg5mtjrdit2bnaft8k2b5j44e6l3b.apps.googleusercontent.com" clientSecret="yHaw9rujnQAE49xYZJ-roJ3c"/>

    <webApplication location="guide-social-login.war"
                    contextRoot="${app.context.root}">
        <application-bnd>
            <security-role name="users">
                <special-subject type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
    </webApplication>
</server>
