<?xml version="1.0" encoding="UTF-8"?>
<server description="cpr-webapp server">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-8.0</feature>
        <feature>microProfile-4.0</feature>
        <feature>transportSecurity-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*"
                  id="defaultHttpEndpoint"
                  httpPort="5684"
                  httpsPort="5704" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <keyStore id="defaultKeyStore"
              password="changeit" />

    <ssl id="defaultSSLConfig"
         keyStoreRef="defaultKeyStore"
         trustDefaultCerts="true" />

    <webApplication location="cpr-webapp.war" contextRoot="/"/>
</server>
